@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;

    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

 html{
    height: 100%;
 }
 body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0; 
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
  }

  .main-container{
     flex-grow: 1;
  }

  .navigation-header{
     font-size: 20px;
     line-height: 25px; 
     color: inherit;
     background-color: inherit;
     text-decoration: none;
  }

  .navigation{
     display: flex;
     justify-content: space-between;
     width: 1200px;   
     margin: 0 auto;  
  }

   .navigation-list {
     width: 340px;  
     margin: 0;
     padding: 0;
  }

   .navigation-user {
     max-width: 250px;
     margin-left: auto;
  }

   .page-container {
     width: 1200px;
     margin: 0 auto;
  }

  .navigation-link .want-here{
      font-size: 16px;
      color: #FFFFFF;
      background-color: #756257;
  }

  /*Правильно понимаю, что для Welcome to Sedona фото каньона лучше прописать здесь, а не в index.htiml?*/
  
  .title{
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase; 
  }

  .title-discription{
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }

   .attraction-list{
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     text-align: center;
  }

  .attraction-item{
    width: 800;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; 
  }
  /* Не понимаю, как у 1 и 3 преимущества отцентрировать фото. Через 2fr 1fr?  */

  .attraction-item.real-city,
  .attraction-item.devil-bridge{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-transform: uppercase; 
  }

  .attraction-discription{
    text-align: center;
  }

.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase; 
}

.search{
 display: flex;
 justify-content: center;
 width: 720px;  
}

.interect-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase; 
}

.interect-discription{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.search-table{
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.page-footer-container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.page-footer-mailing{
 width: 70px;
 margin-right: 40px;
}

.page-footer-mailing-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.page-footer-mailing-discription{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.page-fotter-contact{
    width: 720px;
}

.page-footer-developer{
    margin-left: 53px;
    max-width: 115px;
}

.subscribe{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
}

.contact-phone{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
/* Ниже крупная разметка для каталога */
.inner-header{
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;   
}

.breanchcrumbs-link{
    font-size: 16px;
    background-color: #FFFFFF;
    text-decoration: none;
}

.catalog-products{
    display: flex;
}

.catalog-filter{
    width: 287px;
    margin-right: 68PX;
}

.catalog-filter-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.catalog-bottom-column{
    width: 1056px;
}

.control-label{
    line-height: 23px;
    color: #FFFFFF;
}

.catalog-filter-title{font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.button .apply,
.button .cancel,
.button .pagination-show-more{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background: #83B3D3;
    border-radius: 4px;   
}

.button .cancel{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    border-radius: none;
}

.button .pagination-show-more{
    font-size: 20px;
    line-height: 26px;
}

.select-control{
    line-height: 23px;
}

.livingarea-card-title{
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
}

.livingarea-card-info,
.livingarea-card-price{
    line-height: 31px;
}

.livingarea-card-rating{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

