@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0; 
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgb(255, 255, 255, 1);
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-shadow: inset 1280px 0px 0 0 rgba(242, 242, 242, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
} 

.main-container {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
}

.navigation-header {
  position: relative;
  font-size: 20px;
  line-height: 25px;
  width: 1200px;
  color: inherit;
  font-weight: 700;
  background-color: inherit;
  text-decoration: none;
}

.navigation {
  display: flex; 
  justify-content: space-between;
  margin: 0 72px;  
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 14px 0;
  padding: 0;
  list-style-type: none;
  gap: 33px;
  max-width: 380px;
}

.navigation-user {
  gap: 10px;
}


.page-header-logo {
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none; 
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  top: 45px;
  width: 100%;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: 0px;
}

.navigation-item {
  position: relative;
}

.navigation-item + .navigation-item.want-here {
  margin-left: 16px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

.navigation-link:hover .navigation-icon {
  fill: rgba(117, 98, 87, 1);
}

.navigation-user .navigation-link:focus {
  fill: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
  width: 30px;
  height: 30px;  
}

.navigation-link:hover.want-here {
  width: 160px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
}

.navigation-link:focus.want-here {
  width: 160px;
  height: 37px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
}

.navigation-link:active.want-here {
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navigation-user .navigation-link {
  width: 30px;
  height: 30px;
  padding: 0;
}

.navigation-icon-like {
  width: 19px;
  height: 19px;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  position: absolute;
  border-radius: 50%;
  left: 20px;
  bottom: 15px;
}

.welcome-part {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/background/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
}

.welcome {
  margin: 371px;
  margin-top: 51px;
  margin-bottom: 26px;
  width: 458px;
  height: 352px;
}

.welcome-part::after {
  content: "";
  display: block;
  margin-top: auto;
  background-image: url(../img/welcome-decoration.png);
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;

}

.navigation-link.want-here {
  width: 160px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 98, 87, 1);
  border-radius: 4px;
}
  
.index-discription {
  display: flex;
  flex-direction: column;
}


.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 23px;
  width: 720px;
  height: 80px;
  text-align: center;
  text-transform: uppercase; 
  color: rgba(0, 0, 0, 1);
}

.title-discription {
  font-size: 22px;
  line-height: 36px;
  min-height: 37px;
  margin: 0 auto;
  margin-bottom: 79px;
  text-align: center;
}

.attraction-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  list-style-type: none;
}

.attraction-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase; 
  justify-items: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}

.attraction-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  min-height: 60px;
  margin: 0;
  margin-top: 97px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 1);
}

.attraction-number {
  margin: 0;
  margin-bottom: 26px;
  min-height: 25px;
}

.attraction-discription {
  width: 250px;
  min-height: 73px;
  margin: 0;
  margin-bottom: 77px;
  text-transform: none;
}

.attraction-picture {
  align-self: auto;
  width: 800px;
  height: 384px;
}

/*Со строки 309 по 376 гриды преимуществ в index */

.real-city {
  display: grid;
  width: 1200px;
  grid-template-areas:
  "real-title real-picture"
  "real-number real-picture"
  "real-discription real-picture";
  grid-template-columns: 400px auto;
  grid-template-rows: min-content auto min-content;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  align-items: flex-start;
  text-transform: uppercase; 
  justify-items: center;
  justify-content: center;
}

.real-city .attraction-title {
  grid-area: real-title;
  color: rgba(255, 255, 255, 1);
}

.real-city .attraction-number {
  grid-area: real-number;
}

.real-city .attraction-discription {
  grid-area: real-discription;
  width: 220px;
}

.real-city .attraction-picture {
  grid-area: real-picture;
}
  
.devil-bridge {
  display: grid;
  width: 1200px;
  grid-template-areas:
  "devil-picture devil-title"
  "devil-picture devil-number"
  "devil-picture devil-discription";
  grid-template-columns: auto 400px;
  grid-template-rows: min-content auto min-content;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  align-items: flex-start;
  text-transform: uppercase; 
  justify-items: center;
  justify-content: center;
}

.devil-bridge .attraction-title {
  grid-area: devil-title;
  color: rgba(255, 255, 255, 1);
}

.devil-bridge .attraction-number {
  grid-area: devil-number;
}

.devil-bridge .attraction-discription {
  width: 220px;
  grid-area: devil-discription;
}

.devil-bridge .attraction-picture {
  grid-area: devil-picture;
} 
.beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 1200px;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.living {
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position:center 89px ;
}

.advantages-item.food {
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position:center 91px ;
}

.advantages-item.souvenirs {
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-size: 64px 75px;
  background-position:center 85px ;
}

.food {
  background-color: rgba(255, 255, 255, 1);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 184px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.advantages-discription {
  margin: 0;
  margin-bottom: 79px;
  width: 250px;
  min-height: 73px;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.search-block {
  display: flex;
  flex-direction: column;
}

.interect-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  min-height: 50px;  
  text-align: center;
  margin-top: 91px;
  margin-bottom: 15px;
  text-transform: uppercase; 
  color: rgba(0, 0, 0, 1);
}

.interect-discription {
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0;  
  margin-bottom: 58px;
  text-align: center;
}

.search-table {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 575px;  
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 98, 87, 1);
  border-radius: 10px;
  border: 0px;
  padding: 12px 0;
  margin-bottom: 91px;
  cursor: pointer;
}

.search-table:hover {
  background-color: rgba(97, 80, 72, 1);
}

.search-table:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.search-table:active {
  color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  outline: 0px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.page-footer-mailing {
  display: flex;
  margin: 0 auto;
  color: rgba(0, 0, 0, 1);
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.page-footer-mailing.index-footer {
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../img/background/mailing-background.jpg);
  background-position: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.page-footer-mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 94px;
  margin-bottom: 15px;
  width: 720px;
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  cursor: default;
}

/*следующий стиль специально для footer в каталоге */

.page-footer-mailing-title.catalog-footer {
  margin-top: 85px;
}

.page-footer-mailing-discription {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 26px;
  width: 720px;
  min-height: 72px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  cursor: default;
}

.data-foot-subscribe {
  display: flex;
  gap: 0;
  margin-bottom: 94px;
}

/*следующий стиль для page-footer-mailing в index*/

.index-footer {
  color: rgba(255, 255, 255, 1);
}

/* следующий стиль специально для каталога*/

.catalog-footer .data-foot-subscribe {
  margin-bottom: 140px;
}

.place-for-email {
  width: 559px; 
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  border-radius: 10px 0px 0px 10px;
  padding: 0;
  border: 0;
  padding-left: 22px;
  padding-right: 19px;
}

.place-for-email:hover {
  background-color: rgba(230, 230, 230, 1);
}

.place-for-email:focus {
  width: 600px;
  background-color: rgba(230, 230, 230, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
}

.place-for-email:active {
  background-color: rgba(255, 255, 255, 1);
  outline: 3px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.place-for-email:invalid {
  background-color: rgba(255, 255, 255, 1);
  outline: 2px solid rgba(255, 87, 87, 1);
}

.subscribe {
  width: 200px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  border-radius: 0px 10px 10px 0px;
  border: 0;
  cursor: pointer;
}

.subscribe:hover {
  background-color: rgba(104, 162, 202, 1);
  border-radius: 0px 10px 10px 0px;
}

.subscribe:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
  border-radius: 0px 10px 10px 0px;
}

.subscribe:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 0px;
}

.page-footer-contactinfo {
  display: flex;
  justify-content: flex-start;
}

.page-footer-social {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  margin-right: 50px;
  margin-left: 61px;
  padding: 0;
  align-content: center;
  max-width: 180px;
  gap: 5px;
}

.page-footer-social a {
  width: 40px;
  height: 40px;
  outline: 0;
}

.footer-social-link {
  display: block;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:hover {
  fill: rgba(104, 162, 202, 1);
}

.footer-social-link:focus {
  fill:  rgba(104, 162, 202, 1);
  width: 40px;
  height: 40px;
  border: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 1);
  opacity: 0.3;
  outline: 0px;
}

.footer-social-twitter {
  background-image: url("../img/social/social-twitter.svg");
}

.footer-social-facebook {
  background-image: url("../img/social/social-facebook.svg");
}

.footer-social-youtube {
  background-image: url("../img/social/social-youtube.svg");
}

.page-footer-social a:nth-child(3n) {
  margin-right: 0;
}

.page-footer-contact {
  width: 720px;
  min-height: 50px;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: center;
}

.page-footer-developer {
  position: relative;
  width: 160px;
  height: 70px;
  margin-top: 24px;
  margin-bottom: 26px;
}

.footer-developer-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.footer-developer-logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

.subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  border-radius: 0px 10px 10px 0px;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  outline: 0;
}

.contact-phone:hover {
  color: rgba(117, 98, 87, 1);
}

.contact-phone:focus {
  color: rgba(117, 98, 87, 1);
  border: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.contact-phone:active {
  color: rgba(117, 98, 87, 0.3);
  outline: 0px;
}

.footer-developer-link:hover .footer-developer-logo{
  fill: rgba(117, 98, 87, 1);
}

.footer-developer-link:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 10px;
  padding: 18px 22px;
}

.footer-developer-link:focus .footer-developer-logo {
  fill: rgba(117, 98, 87, 1);
}

.footer-developer-link:active {
  fill: rgba(117, 98, 87, 0.3);
  outline: 0;
}

.footer-developer-link:active .footer-developer-logo {
  fill: rgba(117, 98, 87, 0.3);
}
/* Ниже крупная разметка для каталога */

.page-container-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 408px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/background/catalog-background.jpg");
  background-position: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.inner-header {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  width: 1200px;
  margin-left: 73px;
  margin-bottom: 45px;
}

.inner-header-title {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 78px;
}

.breanchcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -5px;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  height: 21px;
  line-height: 21px;
  font-size: 16px;
  gap: 26px;
}

.breanchcrumbs-item {
  position: relative;
  min-width: 12px;
  min-height: 12px;
}

.breanchcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.to-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  background-image: url("../img/house-to-index.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.breanchcrumbs-link:hover {
  opacity: 0.6;  
}

.breanchcrumbs-link:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.breanchcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 0px;
}

.breanchcrumbs-current::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 9px;
  background-image: url("../img/coursores/cookie-cursor.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  right: 82px;
  top: 6px;

}

.catalog-products {
  display: flex;
  margin-bottom: 70px;
}

.catalog-filter {
  display: flex;
  width: 1200px;
}

.catalog-filter-group {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.infrastructure {
  margin-left: 70px;
  margin-right: 69px;
}

.type-of-living {
  margin-right: 169px;
}

.price-group {
  margin-right: 80px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin-bottom: 13px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}

.catalog-filter-title-moneycost {
  margin-bottom: 35px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0; 
  list-style-type: none;
}

.catalog-filter-item {
  max-width: 144px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  cursor: pointer;
}

.control-mark:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  cursor: pointer;
}

.control-input:focus + .control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
  cursor: pointer;
}

.control-input .control-mark:active {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 10px;
  background-image: url("../img/checked.svg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.control-input[type="radio"] + .control-mark {
 border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.catalog-button {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.catalog-bottom-column {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 61px;
  align-items: center;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  position: relative;
  align-items: center;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:last-child {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label:last-child::before {
  position: absolute;
  width: 48px;
  height: 0;
  border: 2px solid rgba(255, 255, 255, 1);
  transform: rotate(90deg);
}

.catalog-filter-input {
  width: 110px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  font: inherit;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  appearance: textfield;
}

.start-price {
  border-radius: 4px 0 0 4px;
}

.final-price {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.catalog-filter-input:active {
  background-color: rgba(117, 98, 87, 1);
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.price-from {
  position: absolute;
  right: 16px;
}

.price-to {
 position: absolute;
 right: 17px;
}

.range-scale {
  position: relative;
  margin-top: 28px;
  margin-bottom: 16px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.sorting-results {
  display: flex;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 70px;
}

.search-results {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-right: 192px;
}

.sorting-container {
  display: flex;
  margin-right: 82px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 8px;
}

.sorting-item {
  display: inline-block;
  width: 48px; 
  height: 48px;
}

.sorting {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid rgba(229, 229, 229, 1);
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.icons {
  background-image: url("../img/model/mode-tile.svg");
}

.icons-with-a-signature {
  background-image: url("../img/model/mode-slideshow.svg");
}

.list {
  background-image: url("../img/model/mode-list.svg");
}

.sorting-input-current {
  outline: 2px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting:hover,
.sorting:focus {
  outline : 2px solid rgba(131, 179, 211, 1);
}

.sorting:active {
  opacity: 0.3;
  outline: 0px;
}

.sorting-item::before {
  outline: 2px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.livingarea-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  gap: 58px;
}

.livingarea-card {
  position: relative;
  width: 1056px;
  display: grid;
  grid-template-columns: 180px 21px 151px 160px auto auto auto 160px;
  column-gap: 8px;
  row-gap: 1px;
  min-height: 123px;
  align-self: flex-end;
}

.livingarea-card::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  border: 0;
  top: -28px;
}

.livingarea-card-image-link {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 180px;
  height: 120px;
  align-self: end;
}

.livingarea-card-image {
  width: 180px;
  height: 120px;
}

.livingarea-card-image-link:hover {
  opacity: 0.6;
}

.livingarea-card-image-link:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.livingarea-card-image-link:active {
  opacity: 0.3;
  outline: 0px;
}

.livingarea-card-title-link {
  grid-column-start: 3;
  grid-column-end: 5;
  text-decoration: none;
}

.livingarea-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  grid-column-start: 4;
  grid-column-end: 7;
  margin: 0;
  padding-top: 1px;
}

.livingarea-card-title:hover {
  color: rgba(117, 98, 87, 1);
}

.livingarea-card-title-link:focus {
  color: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.livingarea-card-title:active,
.livingarea-card-title-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: 0px;
}

.livingarea-card-info {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
}

.livingarea-card-price {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 400;
}

.more-info {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 98, 87, 1);
  align-self: center;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 9px;
  min-height: 21px;
}

.more-info:hover {
  background-color: rgba(97, 80, 72, 1);
  border-radius: 4px;
}

.more-info:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
}

.more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(97, 80, 72, 1);
  outline: 0px;
  border-radius: 4px;
  outline: 0px;
}

.add-favourite {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  align-self: center;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 9px;
  min-height: 21px;
}

.add-favourite:hover {
  background-color: rgba(104, 162, 202, 1);
border-radius: 4px;
}

.add-favourite:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
  border-radius: 4px
}

.add-favourite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
  outline: 0px;
}

.in-favourite {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  align-self: center;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 9px;
  min-height: 21px;
}

.in-favourite:hover {
  background-color: rgba(108, 158, 66, 1);
border-radius: 4px;
}

.in-favourite:focus {
  background-color: rgba(108, 158, 66, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
  border-radius: 4px
}

.in-favourite:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(108, 158, 66, 1);
  border-radius: 4px;
  outline: 0px;
}

.livingarea-card-stars {
  grid-column-start: 8;
  grid-column-end: 9;
}

.stars-4 {
  background-image: url("../img/stars/stars-4.svg");
  background-repeat: no-repeat;
  background-size: 91px 17px;
  background-position: center;
  justify-self: center;
  align-self: center;
  width: 91px;
  height: 17px;
}

.stars-3 {
  background-image: url("../img/stars/stars-3.svg");
  background-repeat: no-repeat;
  background-size: 68px 17px;
  background-position: center;
  justify-self: center;
  align-self: center;
  width: 68px;
  height: 17px;
}

.stars-2 {
  background-image: url("../img/stars/stars-2.svg");
  background-repeat: no-repeat;
  background-size: 43px 17px;
  background-position: center;
  justify-self: center;
  align-self: center;
  width: 43px;
  height: 17px;
}

.livingarea-card-rating {
  width: 160px;
  min-height: 21px;
  padding-top: 7px;
  padding-bottom: 9px;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  justify-self: flex-end;
  cursor: default;
}

.livingarea-card-info,
.livingarea-card-price {
  line-height: 23px;
  cursor: default;
}

.pagiantion-offers {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*z-index поставлен для того, чтобы при фокусе не обрезалась рамка*/
  z-index: 1;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child,
.pagination-item:first-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  min-width: 55px;
  min-height: 55px;
  padding: 15px 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);
  border-radius: 4px;
}

.pagination-link:active {
  background-color: rgba(104, 162, 202, 0.3);
  outline: 0px;
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.lvivingarea-offers {
  margin-left: auto;
  margin-right: 51px;
}

.sorting-type-livingarea {
  align-self: center;
  min-height: 48px;
}

.button.apply {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  width: 160px;
  min-height: 48px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  background: rgba(131, 179, 211, 1);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button.apply:hover {
  background-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.button.apply:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.button.apply:active {
  color: rgba(255, 255, 255, 0.3);
  border: 0;
}

.button.cancel {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 0;
  width: 160px;
  height: 23px;
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.button.cancel:hover {
  opacity: 0.6;
}

.button.cancel:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 4px; 
}

.button.cancel:active {
  opacity: 0.3;
  outline: 0px;
}


.button.pagination-show-more {
  font-family: "PT Sans", sans-serif;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  height: 55px; 
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: uppercase;
  background: rgba(131, 179, 211, 1);
  border-radius: 4px;
  border: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.button.pagination-show-more:before {
  content: "";
  position: absolute;
  top: -33px;
  left: -218px;
  width: 1058px;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  border: 0;
}

.button.pagination-show-more::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: -218px;
  width: 1058px;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  border: 0;
}

.button.pagination-show-more:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button.pagination-show-more:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 3px solid rgba(117, 98, 87, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.button.pagination-show-more:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
  border: 0px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  appearance: none;
  padding-left: 19px;
  padding-right: 94px;
  background-image: url("../img/coursores/cursor-1.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 20px;
  outline: 2px solid rgba(230, 230, 230, 1);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.select-control-bottom {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
  width: 160px;
  height: 48px;
  padding-left: 17px;
  padding-right: 100px;
  background-image: url("../img/coursores/cursor-2.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 21px;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus,
.select-control-bottom:hover,
.select-control-bottom:focus {
  outline: 2px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control:active,
.select-control-bottom:active {
  outline: 2px solid rgba(230, 230, 230, 1);
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.3;
}

.popover {
  position: absolute;
  top: 45px;
  right: -185px;
  width: 360px;
  min-height: 180px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 20px;
  padding: 24px 19px;
  display: none;
}

.popover::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 9px;
  top: -9px;
  left: 188px;
  background-image: url("../img/popover/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.popover-open {
  display: block;
}

.popover-close-button {
  position: absolute;
  top: -45px;
  right: 185px;
  width: 30px;
  height: 30px;
}

.popover-cart .popover-close-button {
  border: 0;
  top: -46px;
  left: 184px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.popover-cart .popover-close-button:hover {
  fill: rgba(117, 98, 87, 1);
}


.popover-cart .popover-close-button:focus {
  fill: rgba(117, 98, 87, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 10px;
}

.popover-cart .popover-close-button:active {
  fill: rgba(117, 98, 87, 1);
  outline: 0;
  opacity: 0.3;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  padding: 0;
}

.cart-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 26px;
  min-height: 48px;
}

.cart-info {
  display: grid;
  grid-template-columns: 48px 244px;
  grid-template-rows: 21px 21px;
  column-gap: 17px;
  border: 0;
  outline: 0;
  background-color: inherit;
}

.cart-info:hover {
  opacity: 0.6;
}

.cart-info:focus::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 211px;
  height: 68px;
  background-color: transparent;
  outline: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
  border-radius: 10px;
}

.cart-info:active {
  opacity: 0.3;
}

.cart-item-image {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  width: 48px;
  height: 48px;
}

.cart-item-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-self: center;
  color: rgba(0, 0, 0, 1);
  justify-self: flex-start;
}

.cart-item-type {
  margin: 0;
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: flex-start;
}

.cart-item-button {
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-top: 3px;
    border: 0;
  opacity: 0.3;
  cursor: pointer;
  background-color: transparent;
}

.cart-item-button:hover {
  opacity: 1;
}

.cart-item-button:focus {
  opacity: 1;
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 10px;
}

.cart-item-button:active {
  opacity: 0.1;
  outline: 0;
}

.favourite-show-more {
  position: absolute;
  bottom: -2px;
  left: -1px;
  width: 400px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 0;
  background: rgba(117, 98, 87, 1);
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}

.favourite-show-more-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.favourite-show-more:hover {
  background-color: rgba(97, 80, 72, 1);
}

.favourite-show-more:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 0px 0px 20px 20px;
}

.favourite-show-more:active {
  outline: 0;
}

.favourite-show-more:active .favourite-show-more-title {
  color: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-dates {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 53px;
  right: 71px;
  width: 53px;
  height: 53px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);;
}

.modal-close-button:focus {
  background-color: rgba(230, 230, 230, 1);
  outline: 3px solid rgba(131, 179, 211, 1);

}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 1);
  outline: 0;
  opacity: 0.3;
}

.modal-title {
  width: 499px;
  min-height: 67px;
  margin: 0;
  margin-top: -1px;
  margin-left: -3px;
  margin-bottom: 33px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  cursor: default;
}

.trip-dates {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.trip-date {
  display: flex;
  position: relative;
  width: 575px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: 0;
}

.date-trip-title {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 155px;
  margin: 0;
  margin-top: 5px
}

.date-input {
  width: 380px;
  height: 50px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(242, 242, 242, 1);
}

.date-input:hover {
  background-color: rgba(230, 230, 230, 1);
}

.date-input:focus {
  background-color: rgba(230, 230, 230, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.date-input:active {
  background-color: rgba(255, 255, 255, 1);
  outline: 3px solid rgba(0, 0, 0, 1);
}

.date-input:invalid::after {
  position: absolute;
  width: 420px;
  height: 29px;
  top: 45px;
  right: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  content: "Неизвсестная ошибка";
  color: rgba(255, 87, 87, 1);
}

.date-input:disabled {
  outline: 0;
}

.count {
  display: flex;
  gap: 56px;
  height: 50px;
  align-items: center;
  width: 575px;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 1px;
  padding: 0;
  border: 0;
}

.people-count {
  display: flex;
  position: relative;
  width: 288px;
}

.young {
  width: 233px;
}

.count-elders,
.count-young {
  position: relative;
  width: 133px;
}

.people-count-title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  width: 155px;
  margin: 0;
  margin-top: 5px;
  cursor: default;
}

.people-count-title-young {
  width: 54px;
}

.young-description {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-top: 15px;
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 50%;
}

.young-description:hover {
  background-color: rgba(104, 162, 202, 1);
}


.young-description:hover::after {
  position: absolute;
  content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
  font-weight: 400;
  line-height: 20px;
  color:rgba(255, 255, 255, 1);
  text-align: left;
  width: 216px;
  min-height: 110px;
  padding: 20px 18px 15px 22px;
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 40px;
  left: -115px;
}

.young-description:hover::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  top: 31px;
  left: 2px;
  background-color: transparent;
  background-image: url("../img/modal-window/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.counter {
  width: 130px;
  min-height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(242, 242, 242, 1);
  border: 0;
  outline: 0;
}

.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.less {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  border: 1px solid transparent;
  outline: 0;
  background-image: url("../img/modal-window/less.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  cursor: pointer;
}

.more {
  width: 25px;
  height: 25px;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 14px;
  z-index: 2;
  border: 1px solid transparent;
  outline: 0;
  background-image: url("../img/modal-window/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  cursor: pointer;
}

.less:hover,
.more:hover {
  opacity: 1;
}

.less:focus,
.more:focus {
  opacity: 1;
  border: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
}

.less:active,
.more:active {
  opacity: 0.3;
  border: 0;
}

.find-by-date {
  width: 575px;
  height: 60px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 1);
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
}

.find-by-date-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;

}

.find-by-date:hover {
background-color: rgba(104, 162, 202, 1);
}

.find-by-date:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid rgba(117, 98, 87, 1);;
}

.find-by-date:active .find-by-date-title {
  opacity: 0.3;
  outline: 0px;
}

